.App{
  background-color: darkslategray;
  height: 100vh;
  width: 100vw;
}

.search-bar-container{
  width: 100%;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}